.number-input-keyboard{
  position: fixed;
  visibility: hidden;
  z-index: 999999;
  right: -1px;
  bottom: 0;
  left: 0;
  height: 50%;
  background-color: #fff;
  opacity: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,.04);
  transition: .4s;
  transform: translate3d(0, 100%, 0);
  user-select: none;
  -webkit-user-select: none;
}
.number-input-keyboard.active{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0); 
}

.number-input-keyboard button{
  display: block;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 33.333333%;
  height: 25%;
  margin-top: 1px;
  padding: 0;
  overflow: hidden;
  color: #606366;
  font-size: 24px;
  text-align: center;
  background-color: #fff;
  border: none;
  border-top: 1px solid #c0c3c6;
  border-right: 1px solid #c0c3c6;
  outline: none;
  -webkit-tap-highlight-color: #c7cbd1;
  -webkit-touch-callout: none
}
.number-input-keyboard button:active{
  background-color: #c7cbd1;
}
.number-input-keyboard button.disabled{
  pointer-events: none;
}
.number-input-keyboard button[data-value="delete"] {
  background-image: url(./backspace.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 26px auto;
}

.hairlines .number-input-keyboard button{
  margin-top: .5px;
  border-width: .5px;
}